<div class="container">
    <div class="card3">
      <b><br> PATIENT-DETAIL</b></div><br><br>
<div><hr>
    <div>
        <label> Patient ID: </label> {{patient.id}}
    </div>
    <div>
        <label>  Patient Name: </label> {{patient.name}}
    </div>
    <div>
        <label> Patient Age: </label> {{patient.age}}
    </div>
    <div>
        <label>  Patient Gender: </label> {{patient.gender}}
    </div>
    <div>
        <label>  Patient Visited Doctor: </label> {{patient.visitedDoctor}}
    </div>
    <div>
        <label>  Patient Date Of Visit: </label> {{patient.dateOfVisit}}
    </div>
    <div>
        <label> Patient Prescription: </label> {{patient.prescription}}
    </div>
</div><hr>
<div class="end"> <button mat-raised-button color="warn" (click)="openPage()">GO BACK</button></div>
</div>