<div class="card2"><br>
    <!-- <span>The Doctor of the Future will no longer Treat the Human frame with Drugs,<br> but rather will  CURE & PREVENT  Disease with Care (Nutrition)!</span>
   <br><br> <span class="foot" ><b><u> -Edison</u></b></span> -->

   <span><b><u>There is no Cure! Better than Care !!</u></b></span>
  </div>
<div class="container">

    <table>
        <td><div class="card1"><br>
            <img src="https://cdn-icons-png.flaticon.com/128/7211/7211037.png" alt=""><br><br>
            <button  (click)="openAdmin()">ADMIN PORTAL</button>
        </div></td>
        <td><div class="card3"><br>
            <!-- <img src="https://cdn-icons-png.flaticon.com/128/2869/2869812.png" alt=""><br><br> -->
            <img src="https://cdn-icons-png.flaticon.com/128/3374/3374554.png" alt=""><br><br>
            <button (click)="openReception()">RECEPTION-PORTAL</button>
        </div></td> 
       
    </table>



</div>
