
<div class="container">
    <div class="card3">
    <b><br> RECEPTION-DASHBOARD</b></div>
    <table>
        <td><div class="card1"><br>
            <img src="https://t4.ftcdn.net/jpg/04/19/91/17/240_F_419911736_FYvovREXM1xgnqDgBlk5OmHBBuUuNmVT.jpg" alt="" class="img1"><br><br>
            <button (click)="openAdd()">ADD PATIENT</button>
        </div></td>
        <td><div class="card2"><br>
            <img  src="https://cdn-icons-png.flaticon.com/128/2869/2869812.png" alt=""><br><br>
            <button (click)="openView()">VIEW PATIENT</button>
        </div></td>
         <td><div class="card2"><br>
            <img src="https://cdn-icons-png.flaticon.com/128/3304/3304567.png" alt=""><br><br>
            <button (click)="openDoctor()">VIEW DOCTOR</button>
        </div></td>
       
    </table>
</div>
