<div class="container">
    <div class="card3">
      <b><br> DOCTOR-DETAIL</b></div><br><br>
<div><hr>
    <div>
        <label> Doctor Id: </label> {{doctor.id}}
    </div>
    <div>
        <label>  Doctor Name: </label> {{doctor.name}}
    </div>
    <div>
        <label> Doctor Age: </label> {{doctor.age}}
    </div>
    <div>
        <label>  Doctor Gender: </label> {{doctor.gender}}
    </div>
    <div>
        <label>  Special Field: </label> {{doctor.specialList}}
    </div>
    <div>
        <label> No.Of Patients Handled: </label> {{doctor.noOfPatients}}
    </div>
</div><hr>
<div class="end"> <button mat-raised-button color="warn" (click)="openPage()">GO BACK</button></div>
</div>